# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
dist/
build/
*.egg-info/

# Installers
*.egg
*.whl

# Environment variables
.env

# IDE or editor files
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Coverage reports
htmlcov/
*.cover
.coverage
.coverage.*

# Pytest
.cache/
nosetests.xml
coverage.xml
*.cover

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Type information
typestubs/

# C extensions
*.so

# Miscellaneous
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.bak
*.tmp

# Secrets
secret_key.txt
